body {
    background-image: url(Image/Varios/Fondo/ImagenFondoNegro.jpg);
    margin: 0;
    padding-bottom: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6em;

}

#ContenedorPrincipal {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#LogoElcampicoInicioSesion {
    
    margin: 2%;
    display: flex;
}

#PseudoFondo {

    margin-top: 4em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 6em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

}

.TextoInicioSesion{
    text-align: center;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6387ab;

}

#BotonInicioSesion {
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#BotonInicioSesion:hover {
    background-color: #0056b3;
}

#BotonInicioSesion:active {
    background-color: #004085;
}

.RespuestaInicioSesion{
    height: 25px;
}