body {
    padding-top: 6em;
    background-image: url(Image/Varios/Fondo/ImagenFondoNegro.jpg);
    margin: 0;
    padding-bottom: 30em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#PseudoFondo {

    margin-top: 4em;
    background-color: #6387ab;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

}

.TextoInicioSesion{
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;

}

#BotonInicioSesion {
    font-weight: 550;
    background-color: #415f7e;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 4em;
}

#BotonInicioSesion:hover {
    background-color: #0056b3;
}

#BotonInicioSesion:active {
    background-color: #004085;
}

.mensaje {
    margin: 15px 0;
    padding: 10px;
    background-color: #e7f3fe;
    border-left: 5px solid #2196F3;
    color: #0b73c9;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mensaje.error {
    background-color: #fdecea;
    border-left-color: #f44336;
    color: #d32f2f;
}

.buscadorYaniadir {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}