body {
    background-image: url(Image/Varios/Fondo/ImagenFondoNegro.jpg);
    margin: 0;
    padding-bottom: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    background-color: #6387ab;
    padding: 10px;
    border-radius: 5px;
}



th, td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: azure;    
}
th {
    background-color: #f4a261;
    color: white;
}


.table_id{
    background-color: white;
}
 
.BotonInicioSesion {
    font-weight: 550;
    background-color: #415f7e;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.BotonInicioSesion:hover {
    background-color: #0056b3;
}

.botonPaginas{
    margin-top: 20px;
}
.buscadorYaniadir {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.mensaje {
    margin: 15px 0;
    padding: 10px;
    background-color: #e7f3fe;
    border-left: 5px solid #2196F3;
    color: #0b73c9;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mensaje.error {
    background-color: #fdecea;
    border-left-color: #f44336;
    color: #d32f2f;
}