header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6387ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1em 0;
}

#cabecera {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.BotonCabecera {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 0.5em 1em;
    background-color: #0056b3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.BotonCabecera:hover {
    background-color: #004085;
    transform: scale(1.05);
}


.BotonCabecera:active {
    background-color: #003366;
    transform: scale(0.95);
}

.botonVolver {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1em 0;
    margin-left: 10px;
}




.fila-bocata {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bocata {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6387ab;
    border-radius: 10px;
    width: 370px;
    height: 600px;
}

img {
    box-shadow: 5px 5px 10px, black;
}

.bocata img {
    width: 90%;
    height: 180px;
    border-radius: 10px 10px 10px 10px;
}

.bocata p {
    font-weight: 550;
    color: black;
    font-size: 1em;
}

.bocata-info {
    margin: 10px 0;
    font-family: Arial, sans-serif;

}


.bocata-noticia {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.bocata-descripcion {
    font-size: 0.95em;
    color: #f0f0f0;
    text-align: center;
    margin: 5px 15px;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(Image/Varios/Fondo/ImagenFondoNegro.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 630px;

}

#BotonPedirBocadillo {
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
}

#BotonPedirBocadillo:hover {
    background-color: #004085;
}

#BotonPedirBocadillo:active {
    background-color: #003366;
}

.BotonPedirBocadillo:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    transform: none;
}

.imagenAlergenos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
    padding: 5px;
}

#imagenAlergenos {
    display: flex;
    flex-direction: row;
    width: 40px;
    height: 50px;
    padding: 5px;
}

#imagenEstado {
    width: 40px;
    height: 30px;
    padding: 5px;
    margin: 10px;

}

.mensaje-aviso {
    margin: 20px auto;
    width: 80%;
    padding: 15px;
    border: 2px solid #444;
    background-color: #ffe4e1;
    color: #000;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
}

.BotonCancelar {
    background-color: #cc0000;
    color: white;
    font-size: 16px;
    padding: 10px 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contenedorCancelar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}