body {
    background-image: url(Image/Varios/Fondo/ImagenFondoNegro.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#LogoElcampicoInicioSesion {
    margin: 2em;
    margin-bottom: 20px;
}

#TituloCocina {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

.Secciones {
    width: 80%;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #6387ab;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SeccionesSecundarias h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333333;
}

.PseudoFondo {

    margin-top: 1em;
    background-color: #6387ab;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background-color: #f4a261;
    color: white;
}
.frio {
    background-color: #90caf9;

}
.caliente {
    background-color: #ff4444;
}

.entregaPendiente {
    background-color: rgba(240, 219, 32, 0.822);
}

.entregaCompleta {
    background-color: rgba(5, 156, 5, 0.678);
}

.ContenedorSecciones{
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 2em;

}