body {
    padding-top: 6em;
    background-image: url('../Image/Varios/Fondo/ImagenFondoNegro.jpg');
    margin: 0;
    padding-bottom: 24em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6387ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1em 0;
}


.PseudoFondo {
    margin-top: 1em;
    background-color: #6387ab;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    background-color: #6387ab;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

h2 {
    background-color: #6387ab;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.ContenedorSecciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 700px;
    margin-top: 1em;
    margin-bottom: 3em;
}


.BotonInicioSesion {
    font-weight: 550;
    background-color: #415f7e;
    color: #000000;
    font-size: 16px;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
}

.BotonInicioSesion+.BotonInicioSesion {
    margin-top: 1em;
}

.BotonInicioSesion:hover {
    background-color: #0056b3;
}

.tituloYbotonAtrasAdmin {
    display: flex;
    flex-direction: column-reverse;

}


.BotonCabecera {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 0.5em 1em;
    background-color: #0056b3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border: none;
    cursor: pointer;
}

.BotonCabecera:hover {
    background-color: #004085;
    transform: scale(1.05);
}

.BotonCabecera:active {
    background-color: #003366;
    transform: scale(0.95);
}
